{% extends 'layout.html' %}

{% block title %}
    Auctions
{% endblock %}

{% block content %}
    <section>
        <h1>Auctions</h1>

        {% for auction in auctions %}
            <article class = "auction">
                <h2>
                    <a href="{% url 'auctions:page' itemId=auction.itemId %}">
                        {{ auction.name }}
                    </a>
                </h2>
                <p>by {{ auction.seller }} </p>
                <p>Created at: {{ auction.created_at }}</p>
                <p>Expires in: {{ auction.expires_at }}</p>
                <p>Highest Bidder: {{ auction.highestBidder }}</p>

            </article>
        {% endfor %}
    </section>

{% endblock %}