<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>

</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="/home">Home</a>
            <a href="/profile">Profile</a>
            <a href="{% url 'auctions:list' %}">Auctions</a>
            <a href="{% url 'auctions:newAuction' %}">Create an Auction</a>
            <form class="logout" action="{% url 'authentication:logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-button">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'authentication:register' %}">Sign Up</a>
            <a href="{% url 'authentication:login' %}">Sign In</a>
        {% endif %}
    </nav>
    <main >
        {% block content %}
        <h1>test</h1>
        {% endblock %}
    </main>
</body>
</html>